.footer {
    background-color: #0078DC;
    min-height: 330px;
    margin-bottom: 40px;
}

.footer__wrapper {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: $desktop-width) {
    .footer {
        margin-top: 60px;
    }
}