.gres {
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.gres__wrapper {
    min-height: 224px;
    background-image: url("../img/main-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        padding-top: 49%;
        float: left;
        width: 100%;
    }

    &::after {
        position: absolute;
        content: "";
        background: rgba(253, 255, 140, 0.49);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.gres__info {
    opacity: 0;
}

.gres__link {
    display: none;
}

@media (min-width: $iphone) {
    .gres {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media (min-width: $tablet-width) {
    .gres {
        margin-left: 0;
        margin-right: 0;
        width: 75%;
    }

    .gres__wrapper {
        background-image: none;
        min-height: 319px;

        &::before {
            display: none;
        }
    }
}

@media (min-width: $desktop-width) {
    .gres {
        width: 80%;
        margin-right: 13px;
    }

    .gres__wrapper {
        background-image: url(../img/main-background.png);
        background-size: cover;
        position: relative;
    }

    .gres__wrapper::after {
        background: linear-gradient(90deg, rgba(253, 255, 140, 0.5) 66%, rgba(0, 120, 220, 1) 50%);
    }

    .gres__info {
        position: relative;
        line-height: 18px;
        padding-top: 190px;
        margin-left: 70%;
        opacity: 1;
        z-index: 1;
    }

    .gres__age {
        font-family: inherit;
        font-size: 23px;
        color: #fff;
        margin: 0;
        line-height: 18px;
    }

    .gres__text {
        font-family: inherit;
        font-size: 23px;
        color: #fff;
        margin: 0;
        padding-top: 5px;
    }

    .gres__link {
        font-family: inherit;
        font-size: 13px;
        color: #fff;
        display: block;
        text-decoration: none;
        position: relative;
        margin-top: 20px;
        padding-left: 10px;
        cursor: pointer;

        &::before {
            content: ">";
            font-family: inherit;
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            position: absolute;
            left: -2px;
            top: -2px;
        }
    }
}